@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Black+Han+Sans&family=Carter+One&family=Jua&family=Lilita+One&family=Luckiest+Guy&family=Madimi+One&family=New+Amsterdam&family=Odibee+Sans&family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Playwrite+DE+Grund:wght@100..400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Black+Han+Sans&family=Carter+One&family=Jua&family=Lilita+One&family=Luckiest+Guy&family=Madimi+One&family=New+Amsterdam&family=Odibee+Sans&family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Playwrite+DE+Grund:wght@100..400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Black+Han+Sans&family=Carter+One&family=Jua&family=Lilita+One&family=Luckiest+Guy&family=Madimi+One&family=New+Amsterdam&family=Odibee+Sans&family=Outfit:wght@100..900&family=Pacifico&family=Passion+One:wght@400;700;900&family=Playwrite+DE+Grund:wght@100..400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

#about_body{
    height: 100%;
    width: 99%;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 20px;
    text-align: center;
}

#about_body h1{
    font-family: 'Lilita One', serif;
}

#about_devs {
    display: grid;/* Enable grid container */
    margin: 60px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto; /* Define columns (auto fits content) */
    gap: 40px; /* Add spacing between grid items */
    justify-content: center;
    align-items: center;
}

.box{
    background-color: #361608;
    height: 100px;
    width: 150px;
    border-radius: 10px;
    border: none;
    display: flex; /* Optional: To center content within each box */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.box img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    border-radius: 50%;
}

.box h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.box p {
    margin-top: 0;
}